/* (WIP) Home */

.varTituloH1 {
    padding-bottom: 40px;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
}

.textoHome {
    margin: 120px;
    padding: 200 0 200 0px;
}

.botonMenuEnHome {
    margin-top: 10px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #080808;
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 0.9rem;
    text-align: center;
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: #FFF;

    &:hover {
        margin-top: 10px;
        padding: 12px 20px;
        cursor: pointer;
        background-color: #dbb886;
        color: #000;
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 0.9rem;
        border-color: transparent;
        text-align: center;
        display: inline-block;
    }
}

.botonPedidoEnHome {
    margin-top: 50px;
    margin-right: 20px;
    padding: 12px 28px;
    cursor: pointer;
    background-color: #dbb886;
    color: #000;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 0.9rem;
    border: 1px;
    border-style: solid;
    border-color: #dbb886;
    text-align: center;
    display: inline-block;

    &:hover {
        margin-top: 50px;
        margin-right: 20px;
        padding: 12px 28px;
        cursor: pointer;
        background-color: #080808;
        color: #fff;
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        border: 1px;
        border-style: solid;
        border-color: #FFF;
    }
}

.homeImage {
    position: relative;
    width: 100%;
    overflow: hidden;
}