* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #FFF;
}
/*
.logo {
    width: 325px;
}
*/
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}