
/* Colores y Fuentes */

$oscuro: #080808;
$claro: #FFF;
$secundario: #eacaa0;
$secundario2: #dbb886;
$acento: #bd1717;

$fuentePrincipal: 'Cormorant', serif;
$fuenteSecundaria: "Jost", sans-serif;
$fuenteTexto: 'Montserrat', sans-serif;